<launch>    
    <arg name="imu" default="artemisv2" />
    <arg name="imu_frame" default="imu" />
    <arg name="use_filter" default="false" />
    <arg name="baudrate" default="115200" />

    <node pkg="idmind_imu" type="idmind_$(arg imu).py" name="idmind_imu" output="screen" respawn="true">
        <param name="imu_frame" value="$(arg imu_frame)" />
        <param name="baudrate" value="$(arg baudrate)" />
        <param name="timeout" value="2.0" />
    </node>

</launch>
